{% extends "base.html" %}

{% block content %}
  <h2 class="text-center">Course list</h2>
  <div class="search-container mb-4">
    <form method="GET" action="{% url 'course:course-list' %}">
      <div class="input-group">
        <input type="text" name="q" class="form-control search-input" placeholder="Search course by title" value="{{ request.GET.q }}">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
  <div class="course-list">
    {% for course in courses %}
        <div class="course-card p-3 mb-3">
          <h3><a href="{% url 'course:course-detail' course.pk %}">{{ course.name }}</a></h3>
          <p>{{ course.description }}</p>
          <p class="text-muted">created by <b>{{ course.created_by.username }}</b> on {{ course.created_at|date:"F j, Y" }}</p>
        </div>
    {% endfor %}
  </div>
{% endblock %}