{% load static %}
<link id="pagestyle" href="{% static 'css/material-kit.css' %}" rel="stylesheet" />

<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark sidebar">
    <span class="fs-4 text-white">Online course platform</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto text-black">
        <li class="nav-item">
            {% if request.user.is_authenticated %}
            <a href="{% url 'course:index' %}" class="nav-link {% if request.path == '/course/' %}active{% endif %}">
                All courses
            </a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if request.user.is_authenticated %}
            <a href="" class="nav-link {% if request.path == '/course/my-courses/' %}active{% endif %}">
                My courses
            </a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if request.user.is_authenticated %}
            <a href="" class="nav-link {% if request.path == '/course/create-course/' %}active{% endif %}">
                Create course
            </a>
            {% endif %}
        </li>
    </ul>
    <hr>
    {% if request.user.is_authenticated %}
    <div class="d-flex align-items-center justify-content-between text-white">
        <div class="d-flex align-items-center">
            <img src="{% static 'images/avatar.jpg' %}" alt="Avatar" width="32" height="32" class="rounded-circle me-2">
            <strong>{{ request.user.username }}</strong>
        </div>
        <a href="{% url 'course:logout' %}" class="btn btn-outline-light btn-sm">Logout</a>
    </div>
    {% endif %}
</div>
